
<div class="row">
      <div class="col s12">

      This div is 12-columns wide and will hold the image of our water bucket and probably info about the user's water</div>
      <div class="col s12">
      this will have a list that shows important weather data from our weather api
	</div>

      <div class="col s6">This div is 6-columns wide and will probably have a small icon of the water button</div>
      <div class="col s6">This div is 6-columns wide will have a wait button</div>
    </div>
          