<div class="row">
</div>
<nav class="z-depth-0">
    <div class="nav-wrapper z-depth-0">

        <ul>
            <li><a ng-href="#!/plantStuff/plantBuilder/{currentGarden.gardenId}">add a plant to {{currentGarden.gardenName}}</a>
            </li>
            <li><a ng-click="goBackToTheYard()">Back to Yardview</a>
            </li>


        </ul>
    </div>
</nav>



<div class="row">
    <div class="col s12 m6" ng-repeat="plant in userPlants | filter: {gardenId: filterGarden}">
        <div class="{{plant.styleObject}}">
            <div class="card blue-grey darken-1 center-align">
                <div class="card-content">
                    <span class="card-title">{{plant.plantName}}</span>
                    <p>
                        <img src="/images/plantimage.png">
                    </p>
                </div>
                <a class="btn" ng-click="setThisPlant(plant)">Checkout your plant</a>
                <a class="btn btn-flat" ng-click="killTheWabbit(plant.id)">Kill your plant!</a>
                <div class="card-action">
                    <div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>