<div class="row">
    <div class="col s6 blue lighten-5 dashboard_top">


        <h4 class="align-center meow">Your {{currentPlant.plantName}} water habits</h4>
    </div>
    <div class="col s6 blue lighten-5 dashboard_top">
        <div ng-include="'/images/flower.svg'">
        </div>
    </div>
</div>
</div>


<div class="row">
    <div class="col s3 light-blue lighten-4 dashboard">
        <div class="dashblock">
            <img class="btn_right" src="{{icon}}" alt="weather icon">
            <p class="flow-text align-center">{{forText}}</p>

        </div>
    </div>
    <!-- <div class="col s3 light-blue lighten- dashboard"> -->
    <div class="col s3 light-blue lighten-4 dashboard">
        <div class="flow-text dashblock">High: {{tempHigh}} F</div>
    </div>
    <div class="col s3 light-blue lighten-4 dashboard">

        <div class="flow-text dashblock">Low: {{tempLow}} F </div>
    </div>
    <div class="col s3 light-blue lighten-4 dashboard">

        <div class="flow-text dashblock">Precipitation: {{precip}} inches
        </div>
    </div>


</div>


<div class="row">

    <div class="col s4 cyan lighten-4 dashboard">
        <h3>rainfall</h3>
        <div class="dashblock center-align flow-text">
            {{rainNumber}} </div>
    </div>
    <div class="col s4 cyan lighten-4 dashboard">
        <h3>Inches</h3>
        <div class="dashblock center-align flow-text">{{currentPlant.waterType}}</div>
    </div>

    <div class="col s4 cyan lighten-4 dashboard">
        <h3>Every</h3>
        <div class="dashblock  center-align flow-text">
            {{currentPlant.waterInterval}} days
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 cyan lighten-3 dashboard">
        <div class="flow-text center-align">
            You last watered your {{currentPlant.plantName}} {{currentPlant.waterObjectUser}} inches {{itsBeen}} days ago
        </div>
    </div>
</div>


<div class="row">
    <div class="col s3"></div>
    <div class="col s3">
        <button class="btn" ng-click="goBack()"><i class="material-icons left">replay</i>
        </button>
    </div>
    <div class="col s3">

        <button data-target="waterCheck" class="btn"><i class="material-icons left"> opacity</i>
        </button>
    </div>
    <div class="col s3"></div>
<!-- </div> -->


<div id="waterCheck" class="modal">
    <div class="modal-content">
        <img class="responsive-img resizeIt " src="images/flower.png ">

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1 " class="materialize-textarea " ng-model="userInput"></textarea>
                        <label for="textarea1 ">Inches per week of water</label>
                    </div>
                </div>

            </form>
        </div>


        <div>

        </div>
        <div class="modal-footer ">
            <div class="col s6 ">
                <a ng-click="updateThisPlant()" class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons left"> done</i></a>
            </div>
            <div class="col s6 ">
                <a class="modal-action modal-close waves-effect waves-green btn-flat tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip" "><i class="material-icons left ">replay</i></a>
            </div>
  </div>
 
</div>
</li>

</ul>
</div>
</div>
<!-- </div>


</div> -->