<div class="container">
<h3 class="text-flow">Look at your {{currentPlant.plantName}}!!!</h3>
<button ng-click="goToUpdate()">Update your {{currentPlant.plantName}} settings</button>
<div class="row">

<div class="col s6">
waterbucket
<div>interval is {{currentPlant.waterInterval}}</div>
<div>total rain is {{rainNumber}}</div>
<div>It's been {{itsBeen}} days since you last updated</div>
<div>You want to water this plant {{currentPlant.waterType}} inches per {{currentPlant.waterInterval}} days </div>
<div> you watered your {{currentPlant.plantName}} {{currentPlant.waterObjectUser}} inches {{itsBeen}} days ago
</div>
</div>

<div class="col s6">weather info 
  
     <div>this is where user see's the weatherdata</div>
     <div><img src="{{icon}}"" alt="weather icon">
</div>
     <div>forecast{{forText}}</div>
     <div>high temp{{tempHigh}}</div>
     <div>low temp{{tempLow}}</div>
     <div>precipitation{{precip}}</div>
     <div></div>

</div>
</div>

<div class="row">
  <div class="col s12"> 
  
  <ul>
  <li>
 
 
  <button class="btn" ng-click="goBack()">Back to Garden</button>

</li>
<li>

 
 <button data-target="waterCheck" class="btn">Water your plant!</button>
 <div id="waterCheck" class="modal">
    <div class="modal-content">
   
      <h3>this is where user updates their water</h3>
     
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" ng-model="userInput"></textarea>
          <label for="textarea1">How many inches are you adding?</label>
        </div>
        </div>
     
    </form>
    </div>

    
    <div>

      <!-- <a class="waves-effect waves-light btn" ng-click="checkWater();callRainData()">update</a> -->

    </div>
  <div class="modal-footer">
      <a ng-click="updateThisPlant()" class="modal-action modal-close waves-effect waves-green btn-flat">Update your water!</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Nevermind I don't want to</a>
    </div>
  </div>
 
</div>
</li>
</ul>
</div>
</div>


</div>




